
.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 4200px;
    padding: 180px;
  }

  .auth-container-register{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 4200px;
    padding: 50px;
  }
  
  .logo-container {
    text-align: center;
  }
  
  .logo-img {
<<<<<<< HEAD
    height: 375px;
    width: auto;
    object-fit: contain;
=======
 
>>>>>>> ccc46c449c7b88d96706a7a04dd4d76f73543425
  }
  
  .logo-img.large {
    
  }
<<<<<<< HEAD
  .mt-3 {
    
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .a {
    color: #333;
    text-decoration: underline;
}
=======
>>>>>>> ccc46c449c7b88d96706a7a04dd4d76f73543425
  
  .auth-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(15, 15, 15, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
  
  .auth-box input, .auth-box select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
  }
  
  .auth-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #ffcc00;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
  }
  
  .auth-box button:hover {
<<<<<<< HEAD
    background-color: #dbb012;
    color: #ffffff;
  }

  .register-text a {
    color: #e9b50d;  /* Aplicar color amarillo */
    font-weight: bold;
    
    transition: color 0.3s ease; /* Transición suave */
  }
  
  .register-text a:hover {
    color: #ffcc00;  /* Cambio de color al pasar el mouse (amarillo oscuro) */
    text-decoration: underline; /* Subrayado al pasar el ratón */
=======
    background-color: #be9608;
    color: #ffffff;
>>>>>>> ccc46c449c7b88d96706a7a04dd4d76f73543425
  }