.modal-90w {
  width: 90vw !important;
  max-width: 1200px !important;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 3.5rem);
}

.modal-content {
  margin: 1.75rem auto;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #f8f9fa;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #f8f9fa;
}
