/* ====== Barra de navegación superior ====== */
.navbar {
    background-color: #000; /* Negro */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del correo en la barra de navegación */
.admin-email {
    font-size: 16px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}


/* Logo en la barra de navegación */
.logo-img {
    width: 120px;
    height: 50px;
}

/* Enlace de Cerrar Sesión en la barra superior */
.navbar .logout-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar .logout-link:hover {
    color: #ffcc00;
}

/* ====== Barra de navegación lateral ====== */
.sidebar {
    width: 150px;  /* Ancho de la barra lateral */
    height: 100vh; /* Altura completa de la pantalla */
    background-color: #000; /* Negro oscuro */
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 120px; /* Espacio debajo de la barra superior */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
}

/* Botones del menú lateral */
.menu-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    
}

.menu-btn:hover {
    background-color: #f0c505;
}

/* Contenedor del botón de Cerrar Sesión en la barra lateral */
.logout-container {
    margin-top: auto; /* Envía el botón al fondo */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Margen inferior para separarlo del borde de la pantalla */
}

/* Botón de Cerrar Sesión en la barra lateral */
.logout-btn {
    background-color: #ff4444; /* Rojo más brillante para mayor contraste */
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 90%;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold; /* Texto en negrita para mayor visibilidad */
}

.logout-btn:hover {
    background-color: rgb(250, 216, 21);
}

/* ====== Contenido Principal ====== */
.dashboard-container {
    display: flex;
}

.content {
    margin-left: 200px; /* Ajuste para que no se solape con la barra lateral */
    padding: 20px;
    flex-grow: 1;
}
  
.bienvenida-message {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
