.lugares-box {
  padding: 20px;
  color: black; /* Letras negras */
  margin-top: 1px;
}

.buscador-lugares {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: black; /* Letras negras en input */
}

.lugares-tabla {
  width: 100%;
  border-collapse: collapse;
  color: black; /* Letras negras en tabla */
}

.lugares-tabla th,
.lugares-tabla td {
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
}

.lugares-tabla th {
  background-color: black;
  color: white;
}



.lugar-item {
  text-align: center;
}

.editar {
  background-color: #ffc107; /* Amarillo */
  color: black; /* Letras negras */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.mensaje-exito {
  color: green;
  text-align: center;
}

.card-lugares {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  color: black; /* Letras negras en modal */
}

.modal-contenido input,
.modal-contenido textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  color: black; /* Letras negras */
}

.modal-contenido button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.modal-contenido button:first-of-type {
  background-color: #ffc107; /* Botón "Guardar" amarillo */
  color: black;
}

.cerrar-modal {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

input:checked + .slider {
  background-color: #4caf50;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.card-formulario {
  position: relative;
}

.card-formulario::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, gold, transparent);
  border-top-left-radius: 15px;
}
