.tabla-comentarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-comentarios th,
.tabla-comentarios td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla-comentarios th {
  background-color: #ffcc00;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.tabla-comentarios tr:hover {
  background-color: #f4f4f4;
}

.tabla-comentarios td {
  font-size: 14px;
  color: #333;
}

.mensaje {
  color: red;
  margin-top: 20px;
  font-weight: bold;
}

.app-container {
  margin-left: 250px;
  min-height: 100vh;
  background-color: #ffffff;
}

.main-content {
  padding: 90px 30px 30px;
  width: 100%;
}

h2 {
  font-size: 34px;
  margin-bottom: 35px;
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid #ffcc00;
  text-align: center;
  color: #ffcc00;
  font-weight: 600;
}
